{
  "title"         : "Short",
  "content_file"  : "README.md",
  "include_index" : true,
  "header"        : "Short",
  "docco_files"   : ["./lib/*.js", "./models/*.js"],
  "subheader"     : "Node.JS URL Shortener backed by Mongoose.JS w/ Examples",
  "background"    : "diagonal-noise",
  "github"        : "https://github.com/edwardhotchkiss/short"
}