
* {
  margin: 0;
  padding: 0; 
}

body { 
  margin-top: 100px;
  background: url(../images/bg.png) repeat;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Tahoma;
  font-size: 36px;
  letter-spacing: -1px;
  text-shadow: 0 1px 1px #fff;
  margin-bottom: 15px;
}

p {
  font-size: 11px;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  line-height: 16px;
}

a, a:active, a:visited, a:hover {
  color: none;
  text-decoration: none;
}

a:hover {
  color: none;
}

#github {
  position: absolute;
  top: 0;
  right: 0; 
  border: 0; 
}

#container {
  width: 600px;
  position: relative;
  margin: 0 auto 0 auto;
}

#statistics {
  display: none;
  width: 140px;
  margin-top: 20px;
}

#statistics p {
  font-family: 'Helvetica Neue', Helvetica, Tahoma;
  font-weight: bold;
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-shadow: 0 1px 1px #fff;
  width: auto;
}

#create {
  width: 537px;
  background: #fff;
  padding: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 0 5px 5px #ddd;
    -moz-box-shadow: 0 0 5px 5px #ddd;
}

input[type=button] {
  position: relative;
  float: right;
  width: 100px;
}

label {
  font-size: 11px;
  font-family: Verdana, arial, sans-serif;
  color: #888;
  float: left;
}

fieldset { 
  border: none;
}

input[type=text] {
  margin: 0 0 0 0;
  width: 400px;
  position: relative;
  float: left;
}

input { 
  padding: 7px; 
  background: #eee; 
  width: 400px; 
  color: #7d7d7d; 
  border: 1px solid #d9d9d9;
  font-size: 11px;
  font-family: Verdana, arial, sans-serif;
  -webkit-box-shadow: inset 0 2px 3px rgba(150, 150, 150, .2);
  -moz-box-shadow: inset 0 2px 3px rgba(150, 150, 150, .2);
}

input:hover { 
  background: #ddd; 
}

input[type=button] {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff200), color-stop(50%, #f0d800));
  background: -moz-linear-gradient(center top, #fff200 50%, #f0d800 50%);
  border: none;
  font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;  
  -webkit-box-shadow: 0 0 1px 1px #eee; 
  -moz-box-shadow: 0 0 1px 1px #eee;  
  color: #000;
  text-shadow: 0px 1px 1px #fff;
  font: 11px;
  text-align: center;
  padding: 7px 5px 7px 5px;
  margin-left: 2px;
  width: 100px;
}

input[type=submit]:hover, input[type=button]:hover {
  background: #f0d800;
  cursor: pointer;
}

input[disabled], [disabled], input[disabled]:hover {
  background: #f2f2f2;
  border: 1px solid #c8c8c8;
  color: #c8c8c8;
  cursor: wait;
}

/* EOF */